body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2e8cf;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #fb6f92;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

button{
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    background-color: #ffb3c6;
    color: #590d22;
    font-weight: bolder;
    font-size: medium;
}
